hr-header {
  h1 {
    margin-bottom: 0;
  }

  hr-button {
    margin-left: .5em;

    &:last-child {
      margin-left: 2em;
    }
  }
}


form {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;

  hr-input {
    margin-bottom: .5em;
    width: 100%;
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;

    hr-input {
      width: calc(100% / 3 - 1em);
      min-width: 15em;
    }
  }
}
