<ng-container *ngIf="model$ | async as model">
  <hr-header>
    <ng-container title>
      <h1 *ngIf="model.mode === 'edit'">Edit hero</h1>
      <h1 *ngIf="model.mode === 'view'">Hero detail</h1>
      <h1 *ngIf="model.mode === 'new'">Add Hero</h1>
    </ng-container>

    <ng-container actions>
      <hr-button *ngIf="model.mode !== 'view'" [routerLink]="['/heroes']">cancel</hr-button>
      <hr-button *ngIf="model.mode === 'view'" [routerLink]="['/heroes']">Back</hr-button>
      <hr-button *ngIf="model.mode !== 'view'" [disabled]="form.invalid || form.pending" (click)="save(model.entityData?.id)">save
      </hr-button>
      <ng-container *ngIf="model.entityData">
        <hr-button [routerLink]="['../../edit', model.entityData.id]" *ngIf="model.mode === 'view'">edit</hr-button>
        <hr-button *ngIf="model.mode === 'edit'" (click)="delete(model.entityData)" color="warn">delete</hr-button>
      </ng-container>

      <hr-button routerLink="../../new" *ngIf="model.mode !== 'new'" color="accent">new hero</hr-button>
    </ng-container>
  </hr-header>

  <hr-page-layout>

    <form id="form" [formGroup]="form">
      <hr-input [label]="'Name'" formControlName="name" hrDisplayMayus>
        <span *ngIf="form.get('name')?.getError('nameTaken')" errors>El heroe ya se encuentra registrado en nuestra base de datos</span>
      </hr-input>
      <fieldset formGroupName="realName">
        <legend>Real Name</legend>
        <hr-input [label]="'First name'" formControlName="firstName"></hr-input>
        <hr-input [label]="'Middle name'" formControlName="middleName"></hr-input>
        <hr-input [label]="'Last name'" formControlName="lastName"></hr-input>
      </fieldset>
    </form>
  </hr-page-layout>
</ng-container>
