<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input matInput [placeholder]="placeholder" [formControl]="control"/>
  <mat-error>
    <span *ngIf="control.getError('required')">Campo obligatorio</span>
    <ng-content select="[errors]"></ng-content>
  </mat-error>
</mat-form-field>
