<hr-header>
  <h1 title>Heroes</h1>
  <ng-container actions>
    <hr-search-box (search)="filter($event)"></hr-search-box>
    <hr-button [color]="'accent'" routerLink="new">new Hero</hr-button>
  </ng-container>
</hr-header>

<hr-page-layout>
  <ng-container *ngIf="page$ | async as page">
    <hr-paginator [page]="page" (pageChange)="pageChange($event)"></hr-paginator>
  </ng-container>

  <section>
    @if (heroes$ | async; as heroes) {
      @for (hero of heroes; track hero) {
        <a [routerLink]="['view/', hero.id]" mat-ripple>
          <hr-hero-card [hero]="hero"/>
        </a>
      }
      @if (!heroes.length) {
        <p>No se encontraron heroes</p>
      }
    }
  </section>
</hr-page-layout>
