h1 {
  margin-bottom: 0;
}

hr-button {
  margin-left: 1em;
}

hr-paginator {
  grid-column: 1 / -1;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column: 1 / -1;

  hr-hero-card {
    margin: 1em;
    transition: all 100ms linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    font-size: 1.2em;
    color: grey;
    text-align: center;
    width: 100%;
  }
}
